<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.luisalvarado.obsidian-atlas.canary</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/lockf</string>
        <string>-s</string>
        <string>-t</string>
        <string>0</string>
        <string>-k</string>
        <string>/Users/luisalvarado/Library/Application Support/ObsidianAtlas/canary.lock</string>
        <string>/Users/luisalvarado/.local/share/uv/python/cpython-3.11.15-macos-aarch64-none/bin/python3.11</string>
        <string>/Users/luisalvarado/Library/Application Support/ObsidianAtlas/bin/launchd_canary_luisa.py</string>
    </array>
    <key>ProcessType</key>
    <string>Background</string>
</dict>
</plist>
